/* || COLORS & TYPOGRAPHY */

:root {
  --clr-bg: #171717;
  --clr-fg: #262626;
  --clr-text: #f5f5f5;
  --clr-border: #404040;
  --clr-accent: #a5f3fc;
  --clr-btn-text: #171717;
  --clr-delete: #dc2626;
  --clr-icons: #737373;
  --clr-confirm: #86efac;

  --fs-xs: 0.875rem;
  --fs-sm: 1rem;
  --fs-md: 1.5rem;
  --fs-lg: 2rem;
  --fs-xl: 2.5rem;
  --fs-icons: 1.25rem;
  --fs-projects: 1.25rem;
}

/* || GENERAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--clr-bg);
  color: var(--clr-text);
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  font-size: var(--fs-lg);
  word-wrap: break-word;
  max-width: 80%;
}

/* || SIDEBAR */

.sidebar {
  background-color: var(--clr-fg);
  height: 100%;
  width: 18.75rem;
  border-right: 1px solid var(--clr-border);
  position: fixed;
}

.sidebar-header {
  padding: 1.5rem 1.5rem 0 1.5rem;
}

button {
  padding: 0.5rem 1rem;
  background: var(--clr-accent);
  border: none;
  color: var(--clr-btn-text);
  cursor: pointer;
  border-radius: 4px;
  font-size: var(--fs-sm);
  transition: 0.3s;
  font-family: Helvetica, Arial, sans-serif;
}

button:hover {
  transform: translateY(-2px);
}

.new-project-btn {
  width: 100%;
}

.hide-sidebar-btn {
  position: absolute;
  background-color: var(--clr-fg);
  border: 1px solid var(--clr-border);
  padding: 0.5rem;
  bottom: 24px;
  right: 24px;
  border-radius: 4px;
}

.fa-angles-left,
.fa-angles-right {
  color: var(--clr-accent);
}

.hide-sidebar {
  width: 0px;
  opacity: 0;
  visibility: hidden;
  transition: 1s;
}

.hide-sidebar * {
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}

.show-sidebar-btn {
  position: absolute;
  background-color: var(--clr-fg);
  border: 1px solid var(--clr-border);
  padding: 0.5rem;
  top: 24px;
  left: 24px;
  border-radius: 4px;
  transition: 1s;
}

.show-sidebar-btn.hide {
  visibility: hidden;
  opacity: 0;
  left: -80px;
}

/* || PROJECT LINKS */

.projects-container {
  margin-top: 1.5rem;
}

.projects-container li {
  list-style-type: none;
  font-size: var(--fs-projects);
}

.project {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 0.75rem 1.5rem;
}

.project-link {
  text-decoration: none;
  color: var(--clr-icons);
  transition: 0.3s;
}

.project-title {
  overflow: hidden; /* Truncate long project titles */
}

.project-link.active {
  background-color: var(--clr-bg);
  color: var(--clr-text);
}

.project:hover {
  background-color: var(--clr-bg);
}

.project-icons {
  display: flex;
  gap: 1rem;
}

/* || PROJECT DROPDOWN */

.dropdown {
  position: relative;
  display: inline-block;
}

.fa-ellipsis {
  padding: 0.125rem 0.5rem;
  border-radius: 8px 8px 0 0;
}

.dropdown:hover .fa-ellipsis {
  background-color: var(--clr-fg);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--clr-fg);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  border-top-left-radius: 0;
  z-index: 1;
  padding: 0.5rem;
}

.dropdown-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  background: none;
  color: var(--clr-text);
  padding: 0.5rem;
}

.dropdown-btn i {
  width: 1.25rem;
  text-align: center;
}

.dropdown-btn:hover {
  transform: none;
  background-color: var(--clr-bg);
}

.dropdown:hover .dropdown-content {
  display: block; /* Reveal dropdown menu on hover */
}

/* || RENAME DIALOG */

.rename-dialog {
  z-index: 10;
  border: none;
  background-color: var(--clr-fg);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  margin-left: 1.5rem;
  border: 1px solid var(--clr-border);
  border-radius: 4px;
  max-width: 15.6875rem;
}

.dialog-contents {
  display: flex;
}

.rename-dialog input[type="text"] {
  font-family: monospace;
  width: 100%;
  padding: 4px 8px;
  font-size: var(--fs-projects);
}

.rename-dialog button {
  border-radius: 0 4px 4px 0;
  background-color: var(--clr-confirm);
  padding: 0.25rem 0.5rem;
}

.rename-dialog button i {
  color: var(--clr-btn-text);
}

.rename-dialog button:hover {
  transform: none;
}

/* || NEW PROJECT MODAL */

.modal {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2.5rem;
  border: none;
  border-radius: 8px;
  background-color: var(--clr-bg);
  color: var(--clr-text);
  max-width: 25rem;
}

.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.9);
}

.new-project-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.new-project-form input {
  outline: none;
  background: none;
  border: none;
  padding: 0;
  font-size: var(--fs-md);
  color: var(--clr-text);
  font-family: Helvetica, Arial, sans-serif;
}

.modal-btns {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.modal-btns button {
  width: 100%;
}

.cancel-btn {
  border: 1px solid var(--clr-accent);
  background: none;
  color: var(--clr-accent);
}

/* || MAIN AREA */

main {
  margin-left: 300px;
}

.main-no-sidebar {
  margin-left: 0;
  transition: 1s;
}

.task-list-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2rem;
}

.task-list-container {
  max-width: 62.5rem;
  padding: 10rem 5rem;
  margin: auto;
}

.task-list li {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 0.5rem;
  list-style-type: none;
  background-color: var(--clr-fg);
  padding: 1rem;
  border: 1px solid var(--clr-border);
  border-radius: 8px;
  margin-bottom: 1rem;
  user-select: none; /* Standard syntax */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
}

.task-list li:last-child {
  margin-bottom: 0;
}

.input-container {
  display: grid;
  grid-template-columns: 2rem auto;
  align-items: center;
  gap: 0.5rem;
  font-size: var(--fs-md);
  flex-grow: 1;
}

input[type="checkbox"] {
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--clr-bg);
  margin: 0;
  font: inherit;
  width: 2rem;
  height: 2rem;
  border: 1px solid var(--clr-border);
  border-radius: 4px;
  display: grid;
  place-content: center;
  transition: 0.3s;
}

input[type="checkbox"]:checked {
  background-color: var(--clr-accent);
}

input[type="checkbox"]::before {
  content: "";
  width: 1.25rem;
  height: 1.25rem;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--clr-fg);
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  background: var(--clr-fg);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="text"] {
  background: none;
  border: none;
  font-size: var(--fs-md);
  color: var(--clr-text);
  padding: 2px 6px;
  width: 100%;
  font-family: Helvetica, Arial, sans-serif;
}

.actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  font-family: monospace;
}

/* || DUE DATE */

input.due-date {
  text-align: center;
  font-size: var(--fs-xs);
  font-family: monospace;
  width: 100%;
  color: var(--clr-accent);
  border-radius: 4px;
  border: 1px solid var(--clr-accent);
  background-color: var(--clr-fg);
  padding: 0.25rem 0.5rem;
}

.due-date::placeholder {
  color: var(--clr-accent);
}

input.hide-due-date {
  visibility: hidden;
}

/* || ICONS */

i {
  cursor: pointer;
  font-size: var(--fs-icons);
  color: var(--clr-icons);
}

.task-list .fa-calendar-days:hover {
  color: var(--clr-accent);
}

.task-list .fa-trash-can:hover {
  color: var(--clr-delete);
}

.flatpickr-calendar {
  font-family: monospace;
}

/* || COMPLETED TASK */

.complete input[name="task-input"],
.complete .due-date,
.complete .due-date::placeholder {
  color: var(--clr-icons);
  text-decoration: line-through;
  border-color: var(--clr-icons);
}

/* || RESPONSIVE */

@media only screen and (max-width: 1112px) {
  html {
    font-size: 14px;
  }

  .task-list-container {
    padding: 10rem 1.5rem;
  }
}

@media only screen and (max-width: 720px) {
  main {
    margin-left: 0; /* Allow sidebar to overlap on smaller devices */
  }
}

@media only screen and (max-width: 424px) {
  .actions {
    width: 100%;
  }
}
