/* || COLORS & TYPOGRAPHY */

:root {
  --clr-bg: #171717;
  --clr-fg: #262626;
  --clr-text: #f5f5f5;
  --clr-border: #404040;
  --clr-accent: #a5f3fc;
  --clr-btn-text: #171717;
  --clr-delete: #dc2626;
  --clr-icons: #737373;

  --fs-xs: 14px;
  --fs-sm: 16px;
  --fs-md: 24px;
  --fs-lg: 32px;
  --fs-xl: 40px;
  --fs-icons: 20px;
}

/* || GENERAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--clr-bg);
  color: var(--clr-text);
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  font-size: var(--fs-lg);
  margin-bottom: 16px;
}

/* || SIDEBAR */

.sidebar {
  background-color: var(--clr-fg);
  height: 100%;
  width: 300px;
  padding: 24px;
  border-right: 1px solid var(--clr-border);
  position: fixed;
}

button {
  padding: 8px 16px;
  background: var(--clr-accent);
  border: none;
  color: var(--clr-btn-text);
  cursor: pointer;
  border-radius: 4px;
  font-size: var(--fs-sm);
}

/* || MODAL */

/* .modal {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  border: none;
  border-radius: 8px;
}

.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

form {
  display: flex;
  flex-direction: column;
  width: 600px;
}

input {
  padding: 8px;
  font-size: var(--fs-sm);
} */

/* || MAIN AREA */

main {
  margin-left: 300px;
}

.task-list-container {
  max-width: 1000px;
  padding: 160px 80px;
  margin: auto;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  list-style-type: none;
  background-color: var(--clr-fg);
  padding: 16px;
  border: 1px solid var(--clr-border);
  border-radius: 8px;
  margin-bottom: 16px;
  user-select: none; /* Standard syntax */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
}

.input-container {
  display: grid;
  grid-template-columns: 24px auto;
  gap: 8px;
  font-size: var(--fs-md);
  flex-grow: 1;
}

input[type="checkbox"] {
  accent-color: var(--clr-accent);
  cursor: pointer;
}

input[type="text"] {
  background: none;
  border: none;
  font-size: var(--fs-md);
  color: var(--clr-text);
  padding: 4px 8px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  font-family: monospace;
}

i {
  cursor: pointer;
  font-size: var(--fs-icons);
  color: var(--clr-icons);
}

.fa-calendar-days:hover {
  color: var(--clr-accent);
}

.fa-trash-can:hover {
  color: var(--clr-delete);
}

.complete input {
  color: var(--clr-icons);
  text-decoration: line-through;
}

.flatpickr-calendar {
  font-family: monospace;
}

input.due-date {
  text-align: center;
  font-size: var(--fs-xs);
  font-family: monospace;
  width: 100%;
  color: var(--clr-accent);
  border-radius: 4px;
  border: 1px solid var(--clr-accent);
}

input.hide-due-date {
  visibility: hidden;
}
